* {
	font-family: 'Nunito', sans-serif;
}

.lamp:hover {
	animation: animate 8s linear infinite;
}

@keyframes animate {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 400%;
	}
}


.lamp:before {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: -1;
	background: linear-gradient(90deg, #9c9c9c, #c0c0c0,#404040, #9c9c9c);
	background-size: 400%;
	border-radius: 40px;
	opacity: 0;
	transition: .5s;
}

.lamp:hover:before {
	filter: blur(20px);
	opacity: 1;
	animation: animate 8s linear infinite;
}

.box {
	box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
